http_interactions:
- request:
    method: GET
    uri: https://na1.api.riotgames.com/lol/challenges/v1/challenges/1/percentiles
  response:
    status: 200
    headers:
      content-type: application/json
      x-app-rate-limit: 100:120,20:1
      x-app-rate-limit-count: 4:120,1:1
      x-method-rate-limit: 20000:10,1200000:600
      x-method-rate-limit-count: 1:10,1:600
    body:
      string: '{"SILVER":0.206,"MASTER":0.0,"IRON":0.369,"GRANDMASTER":0.0,"NONE":1.0,"GOLD":0.122,"BRONZE":0.28,"DIAMOND":0.029,"PLATINUM":0.073,"CHALLENGER":0.0}'
  recorded_at: 2026-02-27 03:52:30
recorded_with: VCR-vcr/2.1.0
