http_interactions:
- request:
    method: GET
    uri: https://na1.api.riotgames.com/lol/summoner/v4/summoners/by-puuid/O2q8aNv6VBlFz9ABjEoOH8g1d_KO1IQHboIuog8ORd7QOH2L8nGgsYgK-TN16ucwUQsPpihH-tLtAA
  response:
    status: 200
    headers:
      content-type: application/json
      x-app-rate-limit: 100:120,20:1
      x-app-rate-limit-count: 2:120,1:1
      x-method-rate-limit: 2000:60
      x-method-rate-limit-count: 1:60
    body:
      string: '{"puuid":"O2q8aNv6VBlFz9ABjEoOH8g1d_KO1IQHboIuog8ORd7QOH2L8nGgsYgK-TN16ucwUQsPpihH-tLtAA","profileIconId":654,"revisionDate":1526260861000,"summonerLevel":31}'
  recorded_at: 2026-02-27 04:03:09
recorded_with: VCR-vcr/2.1.0
