http_interactions:
- request:
    method: GET
    uri: https://americas.api.riotgames.com/lol/match/v5/matches/NA1_5494453720
  response:
    status: 200
    headers:
      content-type: application/json
      x-app-rate-limit: 100:120,20:1
      x-app-rate-limit-count: 1:120,1:1
      x-method-rate-limit: '2000:10'
      x-method-rate-limit-count: '1:10'
      x-riot-mh-infotype: summary
      x-riot-mh-matchid: NA1_5494453720
      x-riot-mh-participant: 167d8813-a706-51d2-bfb7-3b33a11e20b0
      x-riot-mh-product: LoL
      x-riot-mh-tag: q_420
      x-riot-mh-version: '2'
    body:
      string: '{"metadata":{"dataVersion":"2","matchId":"NA1_5494453720","participants":["p645pEdz69HGCJ7Puh1h9pA9JR4V7AVM-Pt9RE4Bc-GD4RX5ujKGBfSqsIMxHgo1SZ-l4Cf8gntjCA","PTiyzWOA58AT-uWBDu_FnRfzHGUZJ2hly9Hg6Ttig_Lhqlafo7O344xkowK4QT2fR6asrt5psfbQPQ","gfWT67IoiGllLnzO8zFtvsjedoH-2ABa7t_EkCHgDDpx-PpOFoEYLtxhXgHb9hTWzQ4BY4NYIKFN5w","6kGgOUg1LP0JobMZItrnE7iNdbCBVWuwu8rq0FoAeo639e71F5hrgMqJPsrdLxUG3VvgKmgRcg9f7Q","8X1miiEaUq_JPR0Xltsu0Onj95xmYN56W_RJX6lEm_8BmutbVoVi3gR3MIhGfEOQ_M3HkvoWSrR4Ig","laAbNglMXeXW5mbHVsB-S-2hy4WDy64gjxquSQk6ZcgjuJvunM7jnxj0RTxveZYHgEoqOxg7ElEfTQ","MC3qhJ8kQvQ2tO99LMJYKjePgKpHk6SFDu392T5AhmUxzSZ9451-kFjNtaTi8f0W84FaUaa2UTVwbw","moTl8JHOnvnnty4cOc8UiDiB4BLOL5modpNpgSvB4uXLs7owbA3JxA_voWvRtOfZCT-IDVNaEEGq_g","cM9AYhQj8oZMCf8D7crxndqNDWqR3jELLHofoEPZzlt1lMRKa5ibTHa17U_shdlRyR-MlnS2S6dfQA","G3zWKPiV5XjCkeQ8D5ZKMbeUl0ay7h2nEkP_oeBjsJ5flJ27dcQxXFS8QuETzWHRYGN2HjDLyUZtDg"]},"info":{"endOfGameResult":"GameComplete","gameCreation":1771371087605,"gameDuration":1730,"gameEndTimestamp":1771372842139,"gameId":5494453720,"gameMode":"CLASSIC","gameName":"teambuilder-match-5494453720","gameStartTimestamp":1771371112269,"gameType":"MATCHED_GAME","gameVersion":"16.3.745.7600","mapId":11,"participants":[{"PlayerScore0":0,"PlayerScore1":0,"PlayerScore10":0,"PlayerScore11":0,"PlayerScore2":0,"PlayerScore3":0,"PlayerScore4":0,"PlayerScore5":0,"PlayerScore6":0,"PlayerScore7":0,"PlayerScore8":0,"PlayerScore9":0,"allInPings":0,"assistMePings":15,"assists":8,"baronKills":0,"basicPings":0,"challenges":{"12AssistStreakCount":0,"HealFromMapSources":0,"InfernalScalePickup":0,"SWARM_DefeatAatrox":0,"SWARM_DefeatBriar":0,"SWARM_DefeatMiniBosses":0,"SWARM_EvolveWeapon":0,"SWARM_Have3Passives":0,"SWARM_KillEnemy":0,"SWARM_PickupGold":0,"SWARM_ReachLevel50":0,"SWARM_Survive15Min":0,"SWARM_WinWith5EvolvedWeapons":0,"abilityUses":538,"acesBefore15Minutes":0,"alliedJungleMonsterKills":6,"baronBuffGoldAdvantageOverThreshold":1,"baronTakedowns":0,"blastConeOppositeOpponentCount":0,"bountyGold":0,"buffsStolen":1,"completeSupportQuestInTime":0,"controlWardTimeCoverageInRiverOrEnemyHalf":0.6413526587416766,"controlWardsPlaced":5,"damagePerMinute":1597.1585876239562,"damageTakenOnTeamPercentage":0.21698005312859617,"dancedWithRiftHerald":0,"deathsByEnemyChamps":3,"dodgeSkillShotsSmallWindow":0,"doubleAces":0,"dragonTakedowns":0,"earliestBaron":1330.677333862,"earlyLaningPhaseGoldExpAdvantage":0,"effectiveHealAndShielding":0,"elderDragonKillsWithOpposingSoul":0,"elderDragonMultikills":0,"enemyChampionImmobilizations":57,"enemyJungleMonsterKills":7,"epicMonsterKillsNearEnemyJungler":0,"epicMonsterKillsWithin30SecondsOfSpawn":0,"epicMonsterSteals":0,"epicMonsterStolenWithoutSmite":0,"firstTurretKilled":1,"firstTurretKilledTime":862.046261113,"fistBumpParticipation":0,"flawlessAces":0,"fullTeamTakedown":0,"gameLength":1730.2986375550001,"getTakedownsInAllLanesEarlyJungleAsLaner":0,"goldPerMinute":544.6509907209842,"hadOpenNexus":0,"highestChampionDamage":1,"immobilizeAndKillWithAlly":6,"initialBuffCount":0,"initialCrabCount":0,"jungleCsBefore10Minutes":0,"junglerTakedownsNearDamagedEpicMonster":0,"kTurretsDestroyedBeforePlatesFall":0,"kda":6.333333333333333,"killAfterHiddenWithAlly":0,"killParticipation":0.6129032258064516,"killedChampTookFullTeamDamageSurvived":0,"killingSprees":1,"killsNearEnemyTurret":1,"killsOnOtherLanesEarlyJungleAsLaner":1,"killsOnRecentlyHealedByAramPack":0,"killsUnderOwnTurret":2,"killsWithHelpFromEpicMonster":0,"knockEnemyIntoTeamAndKill":9,"landSkillShotsEarlyGame":6,"laneMinionsFirst10Minutes":78,"laningPhaseGoldExpAdvantage":0,"legendaryCount":0,"legendaryItemUsed":[6692,3004,3042,6694,3814],"lostAnInhibitor":0,"maxCsAdvantageOnLaneOpponent":39.00000002980232,"maxKillDeficit":5,"maxLevelLeadLaneOpponent":2,"mejaisFullStackInTime":0,"moreEnemyJungleThanOpponent":0,"multiKillOneSpell":0,"multiTurretRiftHeraldCount":0,"multikills":2,"multikillsAfterAggressiveFlash":0,"outerTurretExecutesBefore10Minutes":0,"outnumberedKills":4,"outnumberedNexusKill":0,"perfectDragonSoulsTaken":0,"perfectGame":0,"pickKillWithAlly":13,"playedChampSelectPosition":1,"poroExplosions":0,"quickCleanse":0,"quickFirstTurret":0,"quickSoloKills":0,"riftHeraldTakedowns":0,"saveAllyFromDeath":0,"scuttleCrabKills":0,"shortestTimeToAceFromFirstTakedown":39.22756208200008,"skillshotsDodged":13,"skillshotsHit":31,"snowballsHit":0,"soloBaronKills":0,"soloKills":5,"soloTurretsLategame":1,"stealthWardsPlaced":12,"survivedSingleDigitHpCount":1,"survivedThreeImmobilizesInFight":2,"takedownOnFirstTurret":1,"takedowns":19,"takedownsAfterGainingLevelAdvantage":0,"takedownsBeforeJungleMinionSpawn":0,"takedownsFirstXMinutes":7,"takedownsInAlcove":1,"takedownsInEnemyFountain":0,"teamBaronKills":1,"teamDamagePercentage":0.35724632385644894,"teamElderDragonKills":0,"teamRiftHeraldKills":1,"tookLargeDamageSurvived":0,"turretPlatesTaken":18,"turretTakedowns":5,"turretsTakenWithRiftHerald":5,"twentyMinionsIn3SecondsCount":0,"twoWardsOneSweeperCount":0,"unseenRecalls":0,"visionScoreAdvantageLaneOpponent":1.1942479610443115,"visionScorePerMinute":1.277990112328577,"voidMonsterKill":0,"wardTakedowns":4,"wardTakedownsBefore20M":3,"wardsGuarded":2},"champExperience":19717,"champLevel":18,"championId":126,"championName":"Jayce","championTransform":0,"commandPings":26,"consumablesPurchased":7,"damageDealtToBuildings":17512,"damageDealtToEpicMonsters":0,"damageDealtToObjectives":17512,"damageDealtToTurrets":17512,"damageSelfMitigated":22180,"dangerPings":0,"deaths":3,"detectorWardsPlaced":5,"doubleKills":2,"dragonKills":0,"eligibleForProgression":true,"enemyMissingPings":26,"enemyVisionPings":0,"firstBloodAssist":false,"firstBloodKill":false,"firstTowerAssist":false,"firstTowerKill":true,"gameEndedInEarlySurrender":false,"gameEndedInSurrender":false,"getBackPings":0,"goldEarned":15706,"goldSpent":15425,"holdPings":0,"individualPosition":"TOP","inhibitorKills":1,"inhibitorTakedowns":1,"inhibitorsLost":0,"item0":3814,"item1":3009,"item2":3155,"item3":6692,"item4":6694,"item5":3042,"item6":3340,"itemsPurchased":28,"killingSprees":4,"kills":11,"lane":"JUNGLE","largestCriticalStrike":0,"largestKillingSpree":5,"largestMultiKill":2,"longestTimeSpentLiving":489,"magicDamageDealt":22990,"magicDamageDealtToChampions":8853,"magicDamageTaken":5689,"missions":{"playerScore0":0,"playerScore1":0,"playerScore2":0,"playerScore3":0,"playerScore4":0,"playerScore5":0,"playerScore6":0,"playerScore7":0,"playerScore8":0,"playerScore9":0,"playerScore10":0,"playerScore11":0},"needVisionPings":1,"neutralMinionsKilled":12,"nexusKills":0,"nexusLost":0,"nexusTakedowns":1,"objectivesStolen":0,"objectivesStolenAssists":0,"onMyWayPings":62,"participantId":1,"pentaKills":0,"perks":{"statPerks":{"defense":5011,"flex":5008,"offense":5008},"styles":[{"description":"primaryStyle","selections":[{"perk":8437,"var1":899,"var2":607,"var3":0},{"perk":8446,"var1":2448,"var2":0,"var3":0},{"perk":8444,"var1":1267,"var2":0,"var3":0},{"perk":8451,"var1":225,"var2":0,"var3":0}],"style":8400},{"description":"subStyle","selections":[{"perk":8345,"var1":3,"var2":0,"var3":229},{"perk":8347,"var1":0,"var2":0,"var3":0}],"style":8300}]},"physicalDamageDealt":180725,"physicalDamageDealtToChampions":35192,"physicalDamageTaken":19748,"placement":0,"playerAugment1":0,"playerAugment2":0,"playerAugment3":0,"playerAugment4":0,"playerAugment5":0,"playerAugment6":0,"playerSubteamId":0,"profileIcon":665,"pushPings":1,"puuid":"p645pEdz69HGCJ7Puh1h9pA9JR4V7AVM-Pt9RE4Bc-GD4RX5ujKGBfSqsIMxHgo1SZ-l4Cf8gntjCA","quadraKills":0,"retreatPings":17,"riotIdGameName":"Sn1per1","riotIdTagline":"NA2","role":"NONE","roleBoundItem":1220,"sightWardsBoughtInGame":0,"spell1Casts":142,"spell2Casts":118,"spell3Casts":108,"spell4Casts":170,"subteamPlacement":0,"summoner1Casts":4,"summoner1Id":4,"summoner2Casts":8,"summoner2Id":14,"summonerId":"RazkJZnU2C5jn7aRGkjhQsVtco0drvYNMlg3yl9ChlMSct7L24hsDoT9IA","summonerLevel":351,"summonerName":"","teamEarlySurrendered":false,"teamId":100,"teamPosition":"TOP","timeCCingOthers":25,"timePlayed":1730,"totalAllyJungleMinionsKilled":4,"totalDamageDealt":212481,"totalDamageDealtToChampions":46059,"totalDamageShieldedOnTeammates":0,"totalDamageTaken":26056,"totalEnemyJungleMinionsKilled":8,"totalHeal":6811,"totalHealsOnTeammates":0,"totalMinionsKilled":232,"totalTimeCCDealt":226,"totalTimeSpentDead":88,"totalUnitsHealed":1,"tripleKills":0,"trueDamageDealt":8765,"trueDamageDealtToChampions":2013,"trueDamageTaken":618,"turretKills":3,"turretTakedowns":5,"turretsLost":3,"unrealKills":0,"visionClearedPings":0,"visionScore":36,"visionWardsBoughtInGame":5,"wardsKilled":4,"wardsPlaced":17,"win":true},{"PlayerScore0":0,"PlayerScore1":0,"PlayerScore10":0,"PlayerScore11":0,"PlayerScore2":0,"PlayerScore3":0,"PlayerScore4":0,"PlayerScore5":0,"PlayerScore6":0,"PlayerScore7":0,"PlayerScore8":0,"PlayerScore9":0,"allInPings":0,"assistMePings":1,"assists":4,"baronKills":1,"basicPings":0,"challenges":{"12AssistStreakCount":0,"HealFromMapSources":0,"InfernalScalePickup":0,"SWARM_DefeatAatrox":0,"SWARM_DefeatBriar":0,"SWARM_DefeatMiniBosses":0,"SWARM_EvolveWeapon":0,"SWARM_Have3Passives":0,"SWARM_KillEnemy":0,"SWARM_PickupGold":0,"SWARM_ReachLevel50":0,"SWARM_Survive15Min":0,"SWARM_WinWith5EvolvedWeapons":0,"abilityUses":531,"acesBefore15Minutes":0,"alliedJungleMonsterKills":92,"baronBuffGoldAdvantageOverThreshold":1,"baronTakedowns":1,"blastConeOppositeOpponentCount":0,"bountyGold":0,"buffsStolen":2,"completeSupportQuestInTime":0,"controlWardsPlaced":0,"damagePerMinute":764.4752866153451,"damageTakenOnTeamPercentage":0.2153746835922311,"dancedWithRiftHerald":0,"deathsByEnemyChamps":5,"dodgeSkillShotsSmallWindow":0,"doubleAces":0,"dragonTakedowns":3,"earliestBaron":1330.677333862,"earliestDragonTakedown":533.876195778,"earlyLaningPhaseGoldExpAdvantage":0,"effectiveHealAndShielding":0,"elderDragonKillsWithOpposingSoul":0,"elderDragonMultikills":0,"enemyChampionImmobilizations":2,"enemyJungleMonsterKills":16,"epicMonsterKillsNearEnemyJungler":3,"epicMonsterKillsWithin30SecondsOfSpawn":1,"epicMonsterSteals":1,"epicMonsterStolenWithoutSmite":1,"firstTurretKilled":1,"firstTurretKilledTime":862.046261113,"fistBumpParticipation":0,"flawlessAces":0,"fullTeamTakedown":0,"gameLength":1730.2986375550001,"goldPerMinute":537.7833968713808,"hadOpenNexus":0,"immobilizeAndKillWithAlly":1,"initialBuffCount":2,"initialCrabCount":1,"jungleCsBefore10Minutes":84.00000008940697,"junglerKillsEarlyJungle":0,"junglerTakedownsNearDamagedEpicMonster":0,"kTurretsDestroyedBeforePlatesFall":0,"kda":2.4,"killAfterHiddenWithAlly":1,"killParticipation":0.3870967741935484,"killedChampTookFullTeamDamageSurvived":0,"killingSprees":1,"killsNearEnemyTurret":1,"killsOnLanersEarlyJungleAsJungler":1,"killsOnRecentlyHealedByAramPack":0,"killsUnderOwnTurret":0,"killsWithHelpFromEpicMonster":0,"knockEnemyIntoTeamAndKill":0,"landSkillShotsEarlyGame":4,"laneMinionsFirst10Minutes":0,"laningPhaseGoldExpAdvantage":0,"legendaryCount":0,"legendaryItemUsed":[6699,6696,3814,6694],"lostAnInhibitor":0,"maxCsAdvantageOnLaneOpponent":79.65000000596046,"maxKillDeficit":5,"maxLevelLeadLaneOpponent":4,"mejaisFullStackInTime":0,"moreEnemyJungleThanOpponent":-59.100000113248825,"multiKillOneSpell":0,"multiTur[...]
