http_interactions:
- request:
    method: GET
    uri: https://na1.api.riotgames.com/lol/league/v4/masterleagues/by-queue/RANKED_SOLO_5x5
  response:
    status: 200
    headers:
      content-type: application/json
      x-app-rate-limit: 100:120,20:1
      x-app-rate-limit-count: 12:120,1:1
      x-method-rate-limit: 500:600,30:10
      x-method-rate-limit-count: 1:600,1:10
    body:
      string: '{"tier":"MASTER","leagueId":"f2c27067-2dea-364d-8612-a2249e052688","queue":"RANKED_SOLO_5x5","name":"Tryndamere''s
        Shadows","entries":[{"puuid":"RQNILrZ6tYXDDMXoYezEP4ZUJAPmCzDetQHJtDNFHGwTc_AfR8JFaugG7fyI9-flBj1h2VR-ZVq4wA","leaguePoints":773,"rank":"I","wins":107,"losses":88,"veteran":true,"inactive":false,"freshBlood":false,"hotStreak":true},{"puuid":"EI3sXHfq1-N6LOjngyVD84Vf-NUlu6-8PJL8ZO6hUL82CdQvvzyQEG2P2x5woAam9I1srR0iAmkNrQ","leaguePoints":729,"rank":"I","wins":272,"losses":255,"veteran":true,"inactive":false,"freshBlood":false,"hotStreak":false},{"puuid":"PloishBmHcFYMJeCVBJTq2WCcU1k8pjzfAEfzEGrSJgRqujoU4S6iKpZE-rir0bXqJML3Wjrr6CBBQ","leaguePoints":714,"rank":"I","wins":172,"losses":159,"veteran":false,"inactive":false,"freshBlood":true,"hotStreak":false},{"puuid":"GwqlZ1SGrIYT_rvkfyvjBlkcNr4aOFn7VtNXMlGPDxqIym3-9kGASPWe[...]
