http_interactions:
- request:
    method: GET
    uri: https://na1.api.riotgames.com/lol/challenges/v1/challenges/percentiles
  response:
    status: 200
    headers:
      content-type: application/json
      x-app-rate-limit: 100:120,20:1
      x-app-rate-limit-count: 1:120,1:1
      x-method-rate-limit: 20000:10,1200000:600
      x-method-rate-limit-count: 1:10,1:600
    body:
      string: '{"0":{"IRON":0.989,"PLATINUM":0.055,"GOLD":0.12,"BRONZE":0.298,"DIAMOND":0.018,"GRANDMASTER":0.0,"MASTER":0.0,"SILVER":0.218,"CHALLENGER":0.0},"1":{"IRON":0.369,"PLATINUM":0.073,"GOLD":0.122,"BRONZE":0.28,"DIAMOND":0.029,"GRANDMASTER":0.0,"MASTER":0.0,"SILVER":0.206,"CHALLENGER":0.0},"2":{"IRON":0.289,"PLATINUM":0.068,"GOLD":0.112,"BRONZE":0.235,"DIAMOND":0.025,"GRANDMASTER":0.0,"MASTER":0.0,"SILVER":0.184,"CHALLENGER":0.0},"3":{"IRON":0.273,"PLATINUM":0.066,"GOLD":0.097,"BRONZE":0.219,"DIAMOND":0.027,"GRANDMASTER":0.0,"MASTER":0.001,"SILVER":0.183,"CHALLENGER":0.0},"4":{"IRON":0.308,"PLATINUM":0.051,"GOLD":0.096,"BRONZE":0.262,"D[...]
