http_interactions:
- request:
    method: GET
    uri: https://americas.api.riotgames.com/lol/match/v5/matches/NA1_5494453720/timeline
  response:
    status: 200
    headers:
      content-type: application/json
      x-app-rate-limit: 100:120,20:1
      x-app-rate-limit-count: 1:120,1:1
      x-method-rate-limit: '2000:10'
      x-method-rate-limit-count: '1:10'
      x-riot-mh-infotype: details
      x-riot-mh-matchid: NA1_5494453720
      x-riot-mh-participant: 167d8813-a706-51d2-bfb7-3b33a11e20b0
      x-riot-mh-product: LoL
      x-riot-mh-tag: q_420
      x-riot-mh-version: '2'
    body:
      string: '{"metadata":{"dataVersion":"2","matchId":"NA1_5494453720","participants":["p645pEdz69HGCJ7Puh1h9pA9JR4V7AVM-Pt9RE4Bc-GD4RX5ujKGBfSqsIMxHgo1SZ-l4Cf8gntjCA","PTiyzWOA58AT-uWBDu_FnRfzHGUZJ2hly9Hg6Ttig_Lhqlafo7O344xkowK4QT2fR6asrt5psfbQPQ","gfWT67IoiGllLnzO8zFtvsjedoH-2ABa7t_EkCHgDDpx-PpOFoEYLtxhXgHb9hTWzQ4BY4NYIKFN5w","6kGgOUg1LP0JobMZItrnE7iNdbCBVWuwu8rq0FoAeo639e71F5hrgMqJPsrdLxUG3VvgKmgRcg9f7Q","8X1miiEaUq_JPR0Xltsu0Onj95xmYN56W_RJX6lEm_8BmutbVoVi3gR3MIhGfEOQ_M3HkvoWSrR4Ig","laAbNglMXeXW5mbHVsB-S-2hy4WDy64gjxquSQk6ZcgjuJvunM7jnxj0RTxveZYHgEoqOxg7ElEfTQ","MC3qhJ8kQvQ2tO99LMJYKjePgKpHk6SFDu392T5AhmUxzSZ9451-kFjNtaTi8f0W84FaUaa2UTVwbw","moTl8JHOnvnnty4cOc8UiDiB4BLOL5modpNpgSvB4uXLs7owbA3JxA_voWvRtOfZCT-IDVNaEEGq_g","cM9AYhQj8oZMCf8D7crxndqNDWqR3jELLHofoEPZzlt1lMRKa5ibTHa17U_shdlRyR-MlnS2S6dfQA","G3zWKPiV5XjCkeQ8D5ZKMbeUl0ay7h2nEkP_oeBjsJ5flJ27dcQxXFS8QuETzWHRYGN2HjDLyUZtDg"]},"info":{"endOfGameResult":"GameComplete","frameInterval":60000,"frames":[{"events":[{"realTimestamp":1771371112046,"timestamp":0,"type":"PAUSE_END"},{"levelUpType":"NORMAL","participantId":0,"skillSlot":4,"timestamp":0,"type":"SKILL_LEVEL_UP"},{"itemId":3865,"participantId":0,"timestamp":0,"type":"ITEM_PURCHASED"},{"itemId":3865,"participantId":0,"timestamp":0,"type":"ITEM_PURCHASED"}],"participantFrames":{"1":{"championStats":{"abilityHaste":0,"abilityPower":0,"armor":22,"armorPen":0,"armorPenPercent":0,"attackDamage":59,"attackSpeed":100,"bonusArmorPenPercent":0,"bonusMagicPenPercent":0,"ccReduction":0,"cooldownReduction":0,"health":590,"healthMax":590,"healthRegen":12,"lifesteal":0,"magicPen":0,"magicPenPercent":0,"magicResist":30,"movementSpeed":335,"omnivamp":0,"physicalVamp":0,"power":375,"powerMax":375,"powerRegen":12,"spellVamp":0},"currentGold":500,"damageStats":{"magicDamageDone":0,"magicDamageDoneToChampions":0,"magicDamageTaken":0,"physicalDamageDone":0,"physicalDamageDoneToChampions":0,"physicalDamageTaken":0,"totalDamageDone":0,"totalDamageDoneToChampions":0,"totalDamageTaken":0,"trueDamageDone":0,"trueDamageDoneToChampions":0,"trueDamageTaken":0},"goldPerSecond":0,"jungleMinionsKilled":0,"level":1,"minionsKilled":0,"participantId":1,"position":{"x":603,"y":611},"timeEnemySpentControlled":0,"totalGold":500,"xp":0},"2":{"championStats":{"abilityHaste":0,"abilityPower":0,"armor":32,"armorPen":0,"armorPenPercent":0,"attackDamage":63,"attackSpeed":100,"bonusArmorPenPercent":0,"bonusMagicPenPercent":0,"ccReduction":0,"cooldownReduction":0,"health":654,"healthMax":654,"healthRegen":14,"lifesteal":0,"magicPen":0,"magicPenPercent":0,"magicResist":29,"movementSpeed":345,"omnivamp":0,"physicalVamp":0,"power":200,"powerMax":200,"powerRegen":100,"spellVamp":0},"currentGold":500,"damageStats":{"magicDamageDone":0,"[...]
