http_interactions:
- request:
    method: GET
    uri: https://na1.api.riotgames.com/lol/challenges/v1/player-data/O2q8aNv6VBlFz9ABjEoOH8g1d_KO1IQHboIuog8ORd7QOH2L8nGgsYgK-TN16ucwUQsPpihH-tLtAA
  response:
    status: 200
    headers:
      content-type: application/json
      x-app-rate-limit: 100:120,20:1
      x-app-rate-limit-count: 5:120,1:1
      x-method-rate-limit: 20000:10,1200000:600
      x-method-rate-limit-count: 1:10,1:600
    body:
      string: '{"totalPoints":{"level":"NONE","current":0,"max":29680},"categoryPoints":{"VETERANCY":{"level":"NONE","current":0,"max":6300},"EXPERTISE":{"level":"NONE","current":0,"max":6715},"COLLECTION":{"level":"NONE","current":0,"max":4200},"TEAMWORK":{"level":"NONE","current":0,"max":7735},"IMAGINATION":{"level":"NONE","current":0,"max":4730}},"challenges":[],"preferences":{}}'
  recorded_at: 2026-02-27 03:52:32
recorded_with: VCR-vcr/2.1.0
