http_interactions:
- request:
    method: GET
    uri: https://na1.api.riotgames.com/lol/champion-mastery/v4/champion-masteries/by-puuid/O2q8aNv6VBlFz9ABjEoOH8g1d_KO1IQHboIuog8ORd7QOH2L8nGgsYgK-TN16ucwUQsPpihH-tLtAA/top
  response:
    status: 200
    headers:
      content-type: application/json
      x-app-rate-limit: 100:120,20:1
      x-app-rate-limit-count: 8:120,1:1
      x-method-rate-limit: 20000:10,1200000:600
      x-method-rate-limit-count: 1:10,1:600
    body:
      string: '[{"puuid":"O2q8aNv6VBlFz9ABjEoOH8g1d_KO1IQHboIuog8ORd7QOH2L8nGgsYgK-TN16ucwUQsPpihH-tLtAA","championId":67,"championLevel":15,"championPoints":181371,"lastPlayTime":1526182459000,"championPointsSinceLastLevel":50771,"championPointsUntilNextLevel":-39771,"markRequiredForNextLevel":2,"tokensEarned":0,"championSeasonMilestone":0,"nextSeasonMilestone":{"requireGradeCounts":{"A-":1},"rewardMarks":1,"bonus":false,"totalGamesRequires":1}},{"puuid":"O2q8aNv6VBlFz9ABjEoOH8g1d_KO1IQHboIuog8ORd7QOH2L8nGgsYgK-TN16ucwUQsPpihH-tLtAA","championId":119,"championLevel":9,"championPoints":85598,"lastPlayTime":1526244290000,"championPointsSinceLastLevel":20998,"championPointsUntilNextLevel":-9998,"markRequiredForNextLevel":2,"tokensEarned":1,"championSeasonMilestone":0,"nextSeasonMilestone":{"requireGradeCounts":{"A-":1},"rewardMarks":1,"bonus":false,"totalGamesRequires":1}},{"puuid":"O2q8aNv6VBlFz9ABjEoOH8g1d_KO1IQHboIuog8ORd7QOH2L8nGgsYgK-TN16ucwUQsPpihH-tLtAA","championId":236,"championLevel":7,"championPoints":60244,"lastPlayTime":1496900315000,"championPointsSinceLastLevel":17644,"championPointsUntilNextLevel":-6644,"markRequiredForNextLevel":1,"tokensEarned":0,"championSeasonMilestone":0,"nextSeasonMilestone":{"requireGradeCounts":{"A-":1},"rewardMarks":1,"bonus":false,"totalGamesRequires":1}}]'
  recorded_at: 2026-02-27 03:52:54
recorded_with: VCR-vcr/2.1.0
