http_interactions:
- request:
    method: GET
    uri: https://na1.api.riotgames.com/lol/league-exp/v4/entries/RANKED_SOLO_5x5/DIAMOND/I
  response:
    status: 200
    headers:
      content-type: application/json
      x-app-rate-limit: 100:120,20:1
      x-app-rate-limit-count: 14:120,1:1
      x-method-rate-limit: '50:10'
      x-method-rate-limit-count: '1:10'
    body:
      string: '[{"leagueId":"b425c4c3-bf7d-4200-ad07-40ca4b2c6982","queueType":"RANKED_SOLO_5x5","tier":"DIAMOND","rank":"I","puuid":"jRG38k60PAlVeInfADUfVCSAw64FCoc9VvKXK8VOB7mdZJZqaGhB4vlu96EDD7p5wh8QANz7lHm2yA","leaguePoints":15,"wins":100,"losses":89,"veteran":false,"inactive":false,"freshBlood":false,"hotStreak":false},{"leagueId":"f688145d-d363-4785-9e65-b7f04407220f","queueType":"RANKED_SOLO_5x5","tier":"DIAMOND","rank":"I","puuid":"p2wL_JP8OyXaZl-D6vj5Id05n8nmTWxycaigl7cY75hk1LGErn6reOJ-u2Aynhjby0c9nLIk2SlziQ","leaguePoints":35,"wins":40,"losses":35,"veteran":false,"inactive":false,"freshBlood":false,"hotStreak":false},{"leagueId":"6e1abb63-08e3-4bcc-ab44-f7ee8e25d5e7","queueType":"RANKED_SOLO_5x5","tier":"DIAMOND","rank":"I","puuid":"NHgCjZOUiHe0o-mpIHZhmSZB4Dmd0KRzBeAhLrKZP6F2Z3ueOUgBuNKVvpArOrAuog[...]
