http_interactions:
- request:
    method: GET
    uri: https://na1.api.riotgames.com/lol/league/v4/grandmasterleagues/by-queue/RANKED_SOLO_5x5
  response:
    status: 200
    headers:
      content-type: application/json
      x-app-rate-limit: 100:120,20:1
      x-app-rate-limit-count: 11:120,1:1
      x-method-rate-limit: 500:600,30:10
      x-method-rate-limit-count: 1:600,1:10
    body:
      string: '{"tier":"GRANDMASTER","leagueId":"22e91c21-0cd6-3145-9984-9b2c8a78904d","queue":"RANKED_SOLO_5x5","name":"Tristana''s
        Archons","entries":[{"puuid":"lWyLiw3LIh3z8Ft3joeVQ6Ktl78uVdKF2Gli_uiKNo9n23GjcGZQqJJD8Ms_W8JehkyB0MkaslB1Rw","leaguePoints":1015,"rank":"I","wins":132,"losses":126,"veteran":true,"inactive":false,"freshBlood":false,"hotStreak":true},{"puuid":"Q6ni4IC8MCa0yOl5Jmg_xaexLj2ZtXz8mKP8I1Wpl0Am7wkPCBMKH_vZ1hJVHe8uVa5knTI4Sg7agw","leaguePoints":1013,"rank":"I","wins":96,"losses":71,"veteran":false,"inactive":false,"freshBlood":false,"hotStreak":true},{"puuid":"WGuTIXuuMqeNnp_XAaKXMXf7fJ1WdgPOwckVNvxXPkPO6q85ODA8q1vmMmQ-ndWO3G4K3lkUnY9Gww","leaguePoints":1012,"rank":"I","wins":116,"losses":103,"veteran":true,"inactive":false,"freshBlood":false,"hotStreak":true},{"puuid":"e3TZn_McTDUFGJOhN4wJrEOol5SP7wC8Pz-VDk0L09uZmrn-t7MLtoIXE[...]
