http_interactions:
- request:
    method: GET
    uri: https://na1.api.riotgames.com/lol/league/v4/leagues/7ccf5091-303b-3f5a-927b-7705b93e3564
  response:
    status: 200
    headers:
      content-type: application/json
      x-app-rate-limit: 100:120,20:1
      x-app-rate-limit-count: 1:120,1:1
      x-method-rate-limit: '500:10'
      x-method-rate-limit-count: '1:10'
    body:
      string: '{"tier":"CHALLENGER","leagueId":"7ccf5091-303b-3f5a-927b-7705b93e3564","queue":"RANKED_SOLO_5x5","name":"Lux''s
        Pyromancers","entries":[{"puuid":"p645pEdz69HGCJ7Puh1h9pA9JR4V7AVM-Pt9RE4Bc-GD4RX5ujKGBfSqsIMxHgo1SZ-l4Cf8gntjCA","leaguePoints":2477,"rank":"I","wins":293,"losses":181,"veteran":true,"inactive":false,"freshBlood":false,"hotStreak":true},{"puuid":"Q0chg9_aiH5Kzaza3E66ZgyQLGIeW1q22QT-4n8VhALRawdE6Sj3Z_4_YYUx7UA-wgdnu-1NaIKyVg","leaguePoints":2407,"rank":"I","wins":247,"losses":119,"veteran":true,"inactive":false,"freshBlood":false,"hotStreak":false},{"puuid":"1wZL-1Xh33UwlkuwSlSe9h3HuCNLHyfczx7co-3srZq4BZ7Vl6bGjXeZQ-rQacam4ZC-VNHYGWQqTw","leaguePoints":2404,"rank":"I","wins":247,"losses":145,"veteran":true,"inactive":false,"freshBlood":false,"hotStreak":false},{"puuid":"upR_I5zjI95q2_Y-uIopP8svSumH_T_24tDNSvD5Hh170rcbgJIKep[...]
