http_interactions:
- request:
    method: GET
    uri: https://na1.api.riotgames.com/lol/clash/v1/tournaments
  response:
    status: 200
    headers:
      content-type: application/json
      x-app-rate-limit: 100:120,20:1
      x-app-rate-limit-count: 10:120,1:1
      x-method-rate-limit: 10:60
      x-method-rate-limit-count: 1:60
    body:
      string: '[{"id":136742,"themeId":10,"nameKey":"noxus","nameKeySecondary":"day_2","schedule":[{"id":129782,"registrationTime":1774221300000,"startTime":1774231200000,"cancelled":false}]},{"id":136741,"themeId":10,"nameKey":"noxus","nameKeySecondary":"day_1","schedule":[{"id":129781,"registrationTime":1774134900000,"startTime":1774144800000,"cancelled":false}]}]'
  recorded_at: 2026-02-27 03:52:55
recorded_with: VCR-vcr/2.1.0
