http_interactions:
- request:
    method: GET
    uri: https://americas.api.riotgames.com/lor/ranked/v1/leaderboards
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
      etag: '"fda8f2e0c898c164ccaa5d72d40e43fa"'
      last-modified: Fri, 27 Feb 2026 03:03:33 GMT
      x-amz-server-side-encryption: AES256
      x-app-rate-limit: 100:120,20:1
      x-app-rate-limit-count: 8:120,2:1
      x-method-rate-limit: 500:600,30:10
      x-method-rate-limit-count: 1:600,1:10
    body:
      string: '{"players":[{"name":"AJTehPro","rank":0,"lp":2940.0},{"name":"QuoVadisDomine","rank":1,"lp":2886.0},{"name":"Lumus11","rank":2,"lp":2459.0},{"name":"AlphaCake","rank":3,"lp":1642.0},{"name":"Hallane","rank":4,"lp":1573.0},{"name":"CKG
        TomatoFish","rank":5,"lp":1500.0},{"name":"NNT eluwardhayk","rank":6,"lp":1482.0},{"name":"ImperialTheme","rank":7,"lp":1467.0},{"name":"Madotsuki","rank":8,"lp":1229.0},{"name":"Vstorm","rank":9,"lp":1131.0},{"name":"Somali","rank":10,"lp":1128.0},{"name":"Panther17","rank":11,"lp":1109.0},{"name":"M[...]
