http_interactions:
- request:
    method: GET
    uri: https://americas.api.riotgames.com/lor/status/v1/platform-data
  response:
    status: 200
    headers:
      akamai-request-bc: '[a=23.217.8.151,b=20230252,c=g,n=US_CO_ENGLEWOOD,o=20940]'
      content-type: application/json
      etag: '"5572c02d3ee709dc18eb5af546ad23e9"'
      last-modified: Thu, 15 Jan 2026 11:41:06 GMT
      x-amz-meta-b2sum: 4b0315f5218b818d725f2849cc0c4164
      x-amz-replication-status: PENDING
      x-amz-request-id: 0EM80PS8X9X68JTP
      x-amz-server-side-encryption: AES256
      x-amz-version-id: Mxz6_yErXHeqVW46JBm8rggud.FkpwBw
      x-app-rate-limit: 100:120,20:1
      x-app-rate-limit-count: 4:120,1:1
      x-method-rate-limit: 20000:10,1200000:600
      x-method-rate-limit-count: 1:10,1:600
      x-riot-cdn: Akamai
    body:
      string: '{"id": "Americas", "name": "Americas", "locales": ["de_DE", "en_US",
        "es_ES", "es_MX", "fr_FR", "it_IT", "ja_JP", "ko_KR", "pl_PL", "pt_BR", "ru_RU",
        "th_TH", "tr_TR", "vi_VN", "zh_TW"], "maintenances": [], "incidents": []}'
  recorded_at: 2026-02-27 03:54:24
recorded_with: VCR-vcr/2.1.0
