http_interactions:
- request:
    method: GET
    uri: https://na1.api.riotgames.com/tft/league/v1/challenger?queue=RANKED_TFT
  response:
    status: 200
    headers:
      content-type: application/json
      x-app-rate-limit: 100:120,20:1
      x-app-rate-limit-count: 1:120,1:1
      x-method-rate-limit: 500:600,30:10
      x-method-rate-limit-count: 1:600,1:10
    body:
      string: '{"tier":"CHALLENGER","leagueId":"cf80b674-dacc-365f-aeef-050187b3cc19","queue":"RANKED_TFT","name":"Soraka''s
        Urfriders","entries":[{"puuid":"GmNPNjUbzbWN8YIA79V4p308eFpf21xPO2Lw8o2xJTJMPW83W54t4GfyfpwOn7-hBz5c3MHpg-Dc3w","leaguePoints":1728,"rank":"I","wins":606,"losses":271,"veteran":true,"inactive":false,"freshBlood":false,"hotStreak":false},{"puuid":"XRJlHmd4Jf69ObnwjBfFmT-8IKVhO-KPUb-0C6Y0kPk18Oj2CDmGkp5_8C9OCOppE7FKAwkSeHR0Tw","leaguePoints":1617,"rank":"I","wins":557,"losses":372,"veteran":true,"inactive":false,"freshBlood":false,"hotStreak":true},{"puuid":"ILhI9XTzgOuOt6mqttNe9AaIYxaYYWi5L_KiJSeQ4jPpOPQsWPauzu66g-pmbgRgcZPN6UrNd1DjvA","leaguePoints":1586,"rank":"I","wins":259,"losses":140,"veteran":true,"inactive":false,"freshBlood":false,"hotStreak":true},{"puuid":"vp_YjIiYS_KgZZObSF6arvyRgbRkXdUcQ1mXjCkLiBwCjugqrC9Pwrx[...]
