http_interactions:
- request:
    method: GET
    uri: https://na1.api.riotgames.com/tft/league/v1/master?queue=RANKED_TFT
  response:
    status: 200
    headers:
      content-type: application/json
      x-app-rate-limit: 100:120,20:1
      x-app-rate-limit-count: 3:120,1:1
      x-method-rate-limit: 500:600,30:10
      x-method-rate-limit-count: 1:600,1:10
    body:
      string: '{"tier":"MASTER","leagueId":"017f232b-c02a-3773-ba0e-3a27f1032181","queue":"RANKED_TFT","name":"Lux''s
        Spellbreakers","entries":[{"puuid":"Y1cHjBnIJ3VEEtdbnn9vJblLLIS2kLKUFAUFUGEMiiDQcVPORBSF4e9XWMLV2_-NUBQE8RpzermEcg","leaguePoints":771,"rank":"I","wins":256,"losses":203,"veteran":false,"inactive":false,"freshBlood":true,"hotStreak":true},{"puuid":"2fpI77aaGpHiVS6dwYh_CAhcXxI4lN_lQ-TDuWcTXaZdpLg8Bu8SqiEoXrLJBmpPX3kI_ZVzWy0yDg","leaguePoints":762,"rank":"I","wins":289,"losses":246,"veteran":false,"inactive":false,"freshBlood":true,"hotStreak":false},{"puuid":"hiLRQ1cZKQ9UkFGQHvsrUshfqaIBJY1kjaMUQTaJ2DudGMux1EsBlnyZHySmyoqKqGVVKg1CIdISaw","leaguePoints":744,"rank":"I","wins":75,"losses":23,"veteran":false,"inactive":false,"freshBlood":true,"hotStreak":true},{"puuid":"BpF4OsDVfsl4mBvkxdL9HBb0TBnWZkcreoKk0gUNMAkg4DoAXeTBGimsq0n[...]
