http_interactions:
- request:
    method: GET
    uri: https://na1.api.riotgames.com/tft/league/v1/grandmaster?queue=RANKED_TFT
  response:
    status: 200
    headers:
      content-type: application/json
      x-app-rate-limit: 100:120,20:1
      x-app-rate-limit-count: 2:120,1:1
      x-method-rate-limit: 500:600,30:10
      x-method-rate-limit-count: 1:600,1:10
    body:
      string: '{"tier":"GRANDMASTER","leagueId":"b392536f-2186-3737-ae37-5bd8779373b6","queue":"RANKED_TFT","name":"Shyvana''s
        Blackguards","entries":[{"puuid":"w9qvyxJcVt--RauiCrOWjFQZ6bacMG81HRBjsE4fCGh6LWG9jDHE38QIgo-txKa2xvXMXP_mioXXsA","leaguePoints":1107,"rank":"I","wins":291,"losses":239,"veteran":false,"inactive":false,"freshBlood":true,"hotStreak":true},{"puuid":"WeOfRXwny616ON9lhUVZEsZpuixtAinzuQ_Qys_Ysjb9CDVyp3xEzPEOi3RjOUnYX_PnTMsqMONb0A","leaguePoints":1099,"rank":"I","wins":466,"losses":374,"veteran":false,"inactive":false,"freshBlood":true,"hotStreak":false},{"puuid":"KNQKTOeK80zeDwYBMMGTMGjsJ1g0pcsfBJXhRMxl-fq0wcdQQPEQhiz18T3tXW4ubyAEwZWD4cw-0A","leaguePoints":1057,"rank":"I","wins":591,"losses":539,"veteran":false,"inactive":false,"freshBlood":true,"hotStreak":true},{"puuid":"xI5ZNC8fHlsi5t0TYSR6UpdUmxr_eFxhb1aQW7gVDV3X_U-xkt5Nygi[...]
