http_interactions:
- request:
    method: GET
    uri: https://na1.api.riotgames.com/tft/league/v1/entries/DIAMOND/I
  response:
    status: 200
    headers:
      content-type: application/json
      x-app-rate-limit: 100:120,20:1
      x-app-rate-limit-count: 4:120,1:1
      x-method-rate-limit: '250:10'
      x-method-rate-limit-count: '1:10'
    body:
      string: '[{"puuid":"_bJ9mu4l9cDGaIYx0IgeUjDEF_GCabZrZzsTaHNkMLmLoKq_FEDwxoqPKYXRgzfGjMY3sVmhKTUZMg","leagueId":"989f04c5-d184-4900-882c-edaab05a53de","queueType":"RANKED_TFT","tier":"DIAMOND","rank":"I","leaguePoints":59,"wins":136,"losses":117,"veteran":false,"inactive":false,"freshBlood":false,"hotStreak":false},{"puuid":"OtpwOS-5SvypQY1x-6cep58rgVqmtC9GhYmq95Vrzd6MoUvL_kChdYEyiyOxjZ8dZpcubDyRYpKPyg","leagueId":"3a421551-3eca-4fae-8176-df33ad400e13","queueType":"RANKED_TFT","tier":"DIAMOND","rank":"I","leaguePoints":2,"wins":431,"losses":375,"veteran":false,"inactive":false,"freshBlood":false,"hotStreak":false},{"puuid":"mev4PjhMCdS9efUd28TZ_LMgHamxuIm_aa5JcPCi1pKqCgLsmeLGsgtSwd3mNTVQpsERYgyilk7QpQ","leagueId":"89a458db-3196-42bb-b3f2-4dd538dad48c","queueType":"RANKED_TFT","tier":"DIAMOND","rank"[...]
