http_interactions:
- request:
    method: GET
    uri: https://na1.api.riotgames.com/tft/status/v1/platform-data
  response:
    status: 200
    headers:
      content-type: application/json
      etag: '"d5f248f8ef8a47145e21b8c438b2d995"'
      last-modified: Sat, 21 Feb 2026 12:00:20 GMT
      x-amz-meta-b2sum: fbdb5b1f5873640a79014e3e50a90e48
      x-amz-replication-status: COMPLETED
      x-amz-request-id: PPBVZARADSD14TWB
      x-amz-server-side-encryption: AES256
      x-amz-version-id: UUviA7wohFkKTlM7GtQW6cLSo.nOgw6j
      x-app-rate-limit: 100:120,20:1
      x-app-rate-limit-count: 15:120,1:1
      x-method-rate-limit: 20000:10,1200000:600
      x-method-rate-limit-count: 1:10,1:600
      x-riot-cdn: Cloudflare
    body:
      string: '{"id":"NA1","name":"North America","locales":["ar_AE","cs_CZ","de_DE","el_GR","en_AU","en_GB","en_PH","en_SG","en_US","es_AR","es_ES","es_MX","fr_FR","hu_HU","id_ID","it_IT","ja_JP","ko_KR","pl_PL","pt_BR","ro_RO","ru_RU","th_TH","tr_TR","vi_VN","zh_MY","zh_TW"],"maintenances":[],"incidents":[]}'
  recorded_at: 2026-02-27 03:54:22
recorded_with: VCR-vcr/2.1.0
