http_interactions:
- request:
    method: GET
    uri: https://americas.api.riotgames.com/tft/match/v1/matches/NA1_5501463494
  response:
    status: 200
    headers:
      content-type: application/json
      x-app-rate-limit: 100:120,20:1
      x-app-rate-limit-count: 6:120,1:1
      x-method-rate-limit: '200:10'
      x-method-rate-limit-count: '1:10'
      x-riot-mh-infotype: summary
      x-riot-mh-matchid: NA1_5501463494
      x-riot-mh-participant: 12f68944-3a6d-541e-b1cc-7731db9cf462
      x-riot-mh-product: TFT
      x-riot-mh-tag: TFTSet16
      x-riot-mh-version: '6'
    body:
      string: '{"metadata":{"data_version":"6","match_id":"NA1_5501463494","participants":["GmNPNjUbzbWN8YIA79V4p308eFpf21xPO2Lw8o2xJTJMPW83W54t4GfyfpwOn7-hBz5c3MHpg-Dc3w","K-KBJ7eB8DbG2P62OyDr6lTa6T7ZYy6ZA2M8i5LhasbWme1Io2pS_0WuMNTCf0DIgWZ4Xn1U5HZTmg","F0Hc6JrLaKhGGk1hFHWAHJrZSVkf-3ijgOiyJwosAPiEb7eEvUy246ishQwsfN3G0WdAj20PWCATlg","IB-SASB8YbPm2N-y4DXSR4pxrnXgEH0-J-O3N-sZmcoCrSFcaKRwoUBChTv707Jj7azUaWkqAJ6pCQ","Pv0VQ_Z7SGcvvD-HwBPvVylhZAesA4-ezndmhoNuLHFD6-vcplmqig5uMxCHzvqSEbltMm1Q8mFW9g","vKeckO98tAOYxcC5YQhr-cN6YQFmoIVcjq7WPK_Z_lToT6EsoSOUEHBnrGOEZa8lfyeANh6d-6frwA","onlb8uIxfXvl01sOVOjBACTzNdBKK3asaK4fdwfiL9oRqbzBoKfbHPp-dAd2p-d-193EHlWWHuIkxA","UZ4XR-1vvvwpTqzgW976DC8XMJwVPOQZmeqs9YaULm9io0tOoeI_rN2HITNY0SOsRGFxNsv8-PBxbQ"]},"info":{"endOfGameResult":"GameComplete","gameCreation":1772152381000,"gameId":5501463494,"game_datetime":1772154572556,"game_length":2173.685302734375,"game_version":"Linux
        Version 16.4.748.0682 (Feb 20 2026/12:43:10) [PUBLIC] <Releases/16.4>","mapId":22,"participants":[{"companion":{"content_ID":"d847608a-1917-4efa-9269-e28317cd09fb","item_ID":27022,"skin_ID":22,"species":"PetChoncc"},"gold_left":1,"last_round":33,"level":9,"missions":{"PlayerScore2":194},"placement":4,"players_eliminated":1,"puuid":"GmNPNjUbzbWN8YIA79V4p308eFpf21xPO2Lw8o2xJTJMPW83W54t4GfyfpwOn7-hBz5c3MHpg-Dc3w","riotIdGameName":"VIT
        setsuko","riotIdTagline":"NA2","time_eliminated":1942.8492431640625,"total_damage_to_players":120,"traits":[{"name":"TFT16_Defender","num_units":2,"style":1,"tier_current":1,"tier_total":3},{"name":"TFT16_Explorer","num_units":4,"style":1,"tier_current":1,"tier_total":3},{"name":"TFT16_Harvester","num_units":1,"style":3,"tier_current":1,"tier_total":1},{"name":"TFT16_Huntress","num_units":1,"style":3,"tier_current":1,"tier_total":1},{"name":"TFT16_Invoker","num_units":2,"style":1,"tier_current":1,"tier_total":2},{"name":"TFT16_Juggernaut","num_units":2,"style":1,"tier_current":1,"tier_total":3},{"name":"TFT16_Noxus","num_units":1,"style":0,"tier_current":0,"tier_total":4},{"name":"TFT16_Piltover","num_units":2,"style":1,"tier_current":1,"tier_total":3},{"name":"TFT16_ShyvanaUnique","num_units":1,"style":3,"tier_current":1,"tier_total":1},{"name":"TFT16_Sorcerer","num_units":2,"style":1,"tier_current":1,"tier_total":3},{"name":"TFT16_Vanquisher","num_units":1,"style":0,"tier_current":0,"tier_total":4},{"name":"TFT16_Zaun","num_units":1,"style":0,"tier_current":0,"tier_total":3}],"units":[{"character_id":"TFT16_Neeko","itemNames":[],"name":"","rarity":1,"tier":2},{"character_id":"TFT16_Vi","itemNames":[],"name":"","rarity":1,"tier":2},{"character_id":"TFT16_Orianna","itemNames":["TFT_Item_BFSword"],"name":"","rarity":1,"tier":1},{"character_id":"TFT16_Milio","itemNames":[],"name":"","rarity":2,"tier":2},{"character_id":"TFT16_Nidalee","itemNames":["TFT_Item_PowerGauntlet","TFT_Item_JeweledGauntlet","TFT_Item_Leviathan"],"name":"","rarity":4,"tier":2},{"character_id":"TFT16_Swain","itemNames":["TFT_Item_FrozenHeart","TFT_Item_FrozenHeart","TFT_Item_IonicSpark"],"name":"","rarity":4,"tier":2},{"character_id":"TFT16_Fiddlesticks","itemNames":["TFT_Item_JeweledGauntlet"],"name":"","rarity":6,"tier":2},{"character_id":"TFT16_Shyvana","itemNames":["TFT_Item_SteraksGage","TFT_Item_RunaansHurricane","TFT_Item_RedBuff"],"name":"","rarity":6,"tier":2},{"character_id":"TFT16_Brock","itemNames":["TFT_Item_ThiefsGloves","TFT_Item_AdaptiveHelm","TFT_Item_GuinsoosRageblade"],"name":"","rarity":7,"tier":1}],"win":true},{"companion":{"content_ID":"5601b81d-dfe2-40d7-81c5-4795ac9f6f3f","item_ID":91002,"skin_ID":2,"species":"PetChibiOrianna"},"gold_left":2,"last_round":37,"level":9,"missions":{"PlayerScore2":216},"placement":3,"players_eliminated":2,"puuid":"K-KBJ7eB8DbG2P62OyDr6lTa6T7ZYy6ZA2M8i5LhasbWme1Io2pS_0WuMNTCf0DIgWZ4Xn1U5HZTmg","riotIdGameName":"Ene","riotIdTagline":"TFT","time_eliminated":2162.010986328125,"total_damage_to_players":131,"traits":[{"name":"TFT16_Bilgewater","num_units":1,"style":0,"[...]
