http_interactions:
- request:
    method: GET
    uri: https://na.api.riotgames.com/val/ranked/v1/leaderboards/by-act/3ea2b318-423b-cf86-25da-7cbb0eefbe2d
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
      x-app-rate-limit: 100:120,20:1
      x-app-rate-limit-count: 3:120,1:1
      x-method-rate-limit: '10:10'
      x-method-rate-limit-count: '1:10'
    body:
      string: '{"actId":"3ea2b318-423b-cf86-25da-7cbb0eefbe2d","players":[{"puuid":"yzrW26p83UXgV2jbhZfEG8aVdvaCqV7tpkf7oenKHdsL79FcIAj3XDKCT1VTdM8uB7fOigtxOLW9yA","prefix":"","gameName":"QOR
        twitch Smoke","tagLine":"jamon","premierRosterType":"","leaderboardRank":1,"rankedRating":1003,"numberOfWins":84,"competitiveTier":27},{"puuid":"o19Xd_uEmVhAfiQsxul8Has8a-bo5o5NcN8VAUE8arFPO9xHDdutgR0KP-E7B4Nc6_M7M5Ur3mUpRg","prefix":"","gameName":"QOR
        Notexxd","tagLine":"KTTA","premierRosterType":"","leaderboardRank":2,"rankedRating":845,"numberOfWins":90,"competitiveTier":27},{"puuid":"qyS4xqW6Jr7dAvb5WO3n6eBrCV76Wj_SILoqxGIc8XkABt6q0q7DL9-aZcPExeXtXHlQegmiztPlBA","prefix":"RPG","gameName":"picklespear","tagLine":"dan","premierRosterType":"","leaderboardRank":3,"rankedRating":835,"numberOfWins":93,"competitiveTier[...]
