http_interactions:
- request:
    method: GET
    uri: https://na.api.riotgames.com/val/status/v1/platform-data
  response:
    status: 200
    headers:
      akamai-request-bc: '[a=23.61.249.204,b=589573411,c=g,n=US_FL_MIAMI,o=20940]'
      content-type: application/json
      etag: '"13b582a6ff7d3d0a7e6b8c7ec0ead973"'
      last-modified: Thu, 26 Feb 2026 23:35:12 GMT
      x-amz-meta-b2sum: 6e6c52f6350cd66c5f5be637e84b0c43
      x-amz-replication-status: PENDING
      x-amz-request-id: F5X7DSZKDVXX36DW
      x-amz-server-side-encryption: AES256
      x-amz-version-id: BOTJntRTsRqknBtowPCvjyzP2qelL252
      x-app-rate-limit: 100:120,20:1
      x-app-rate-limit-count: 1:120,1:1
      x-method-rate-limit: 20000:10,1200000:600
      x-method-rate-limit-count: 1:10,1:600
      x-riot-cdn: Akamai
    body:
      string: '{"id": "NA", "name": "North America", "locales": ["ar_AE", "de_DE",
        "en_SG", "en_US", "es_ES", "es_MX", "fr_FR", "id_ID", "it_IT", "ja_JP", "ko_KR",
        "pl_PL", "pt_BR", "ru_RU", "th_TH", "tr_TR", "vi_VN", "zh_TW"], "maintenances":
        [], "incidents": []}'
  recorded_at: 2026-02-27 03:54:26
recorded_with: VCR-vcr/2.1.0
